{% extends "base.tmpl" %}
{% block title %}Vonodosh Bot{% endblock %}
{% block content %}
    <div class="columns">
        <div class="column is-9">
            <div class="box">
                <div class="columns">
                    <div class="column is-2">
                        <figure class="image">
                            <img src="{{ bot.avatar }}" alt="{{ bot.name }}'s avatar" style="max-height: 128px; max-width: 128px;">
                        </figure>
                    </div>
                    <div class="column is-8">
                        <h1 class="title">
                            {{ bot.name }}
                            <span class="tag" style="background-color: #7289DA; color: white;">
                                #{{ bot.ranking }}
                            </span>
                            <span class="tag is-info">
                                {{ bot.servers }} Servers
                            </span>
                            {% if bot.featured %}
                                <span class="tag" style="background-color: gold;">
                                    Featured
                                </span>
                            {% endif %}
                        </h1>
                        <p>{{ bot.description }}</p>
                    </div>
                    <div class="column is-2">
                        <a class="button is-pulled-right" href="{{ bot.website }}">
                            Website
                        </a>
                        <a class="button is-pulled-right" href="http://discord.gg/{{ bot.server }}" style="margin-top: 10px;">
                            Server
                        </a>
                    </div>
                </div>
            </div>
            {{ content|safe }}
        </div>
        <div class="column is-3">
            <div class="box">
                <a class="button is-large is-fullwidth" href="{{ bot.authorize }}" style="color: white; background-color: #7289DA">
                    <span>Add To</span>
                    <img class="image is-32x32" style="margin-left: 5px;" src="/static/img/discord_logo_white.svg">
                </a>
            </div>
            <div class="box">
                <h2 class="title">
                    Reviews ({{ bot.reviews }})
                </h2>
                <p style="color: gold; font-size: 30px;">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </p>
                <p>
                    <a href="#" style="color: #7289DA">
                        View the reviews
                    </a>
                </p>
                <br />
                <h2 class="title">
                    Your review
                </h2>
                <p style="color: gold; font-size: 30px;">
                    <i class="fa fa-star-o form-star"></i>
                    <i class="fa fa-star-o form-star"></i>
                    <i class="fa fa-star-o form-star"></i>
                    <i class="fa fa-star-o form-star"></i>
                    <i class="fa fa-star-o form-star"></i>
                </p>
                <form>
                    <p class="control">
                        <textarea class="textarea is-disabled" style="width: 100%; height: 200px;"></textarea>
                    </p>
                    <p class="control">
                        <button class="button is-fullwidth is-disabled" type="submit">Submit review</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}