{% extends "base.tmpl" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="columns">
        <div class="column">
            <h2 class="title">Featured Bots</h2>
        </div>
        <div class="column">
            <a class="button is-pulled-right is-warning" href="#" style="background-color: #7289DA; color: white;">
                See All Featured Bots
            </a>
        </div>
    </div>
    <div class="columns">
        {% for bot in featured_bots %}
            <div class="column">
                <div class="card is-fullwidth">
                    <a href="/bots/123456789" class="hover-shadow">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="{{ bot.avatar }}" alt="{{ bot.name }}'s avatar">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">{{ bot.name }}</p>
                                    <p class="subtitle is-5">{{ bot.category }}</p>
                                </div>
                            </div>
                            <div class="content">
                                {{ bot.description }}
                            </div>
                        </div>
                    </a>
                    <footer class="card-footer">
                        <p class="card-footer-item" style="color: gold;">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                            <span style="margin-left: 5px; color: #4a4a4a;">
                                ({{ bot.reviews }})
                            </span>
                        </p>
                        <a class="card-footer-item" style="color: #7289DA;" href="{{ bot.authorize }}">
                            <span>
                                Add To
                            </span>
                            <img class="image is-24x24" style="margin-left: 5px;" src="/static/img/discord_logo_color.svg">
                        </a>
                    </footer>
                </div>
            </div>
        {% endfor %}
    </div>
    <br />
    <div class="columns">
        <div class="column">
            <h2 class="title">Top Rated Bots</h2>
        </div>
        <div class="column">
            <a class="button is-pulled-right is-warning" href="#" style="background-color: #7289DA; color: white;">
                See All Top Rated Bots
            </a>
        </div>
    </div>

    <div class="columns">
        {% for bot in top_rated_bots %}
            <div class="column">
                <div class="card is-fullwidth">
                    <a href="/bots/123456789" class="hover-shadow">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="{{ bot.avatar }}" alt="{{ bot.name }}'s avatar">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">{{ bot.name }}</p>
                                    <p class="subtitle is-5">{{ bot.category }}</p>
                                </div>
                            </div>
                            <div class="content">
                                {{ bot.description }}
                            </div>
                        </div>
                    </a>
                    <footer class="card-footer">
                        <p class="card-footer-item" style="color: gold;">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                            <span style="margin-left: 5px; color: #4a4a4a;">
                                ({{ bot.reviews }})
                            </span>
                        </p>
                        <a class="card-footer-item" style="color: #7289DA;" href="{{ bot.authorize }}">
                            <span>
                                Add To
                            </span>
                            <img class="image is-24x24" style="margin-left: 5px;" src="/static/img/discord_logo_color.svg">
                        </a>
                    </footer>
                </div>
            </div>
        {% endfor %}
    </div>

    <br />
    <div class="columns">
        <div class="column">
            <h2 class="title">Recently Added Bots</h2>
        </div>
        <div class="column">
            <a class="button is-pulled-right is-warning" href="#" style="background-color: #7289DA; color: white;">
                See All Recently Added Bots
            </a>
        </div>
    </div>
    <div class="columns">
        {% for bot in recently_added_bots %}
            <div class="column">
                <div class="card is-fullwidth">
                    <a href="/bots/123456789" class="hover-shadow">
                        <div class="card-content">
                            <div class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64">
                                        <img src="{{ bot.avatar }}" alt="{{ bot.name }}'s avatar">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <p class="title is-4">{{ bot.name }}</p>
                                    <p class="subtitle is-5">{{ bot.category }}</p>
                                </div>
                            </div>
                            <div class="content">
                                {{ bot.description }}
                            </div>
                        </div>
                    </a>
                    <footer class="card-footer">
                        <p class="card-footer-item" style="color: gold;">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            <i class="fa fa-star-o"></i>
                            <span style="margin-left: 5px; color: #4a4a4a;">
                                ({{ bot.reviews }})
                            </span>
                        </p>
                        <a class="card-footer-item" style="color: #7289DA;" href="{{ bot.authorize }}">
                            <span>
                                Add To
                            </span>
                            <img class="image is-24x24" style="margin-left: 5px;" src="/static/img/discord_logo_color.svg">
                        </a>
                    </footer>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}