<section style="background-color: white;">
    <div class="container">
        <nav class="nav" style="padding: 15px 0 15px 0;">
            <div class="nav-left">
                <a class="nav-item is-brand" href="/" style="font-size: 25px;">
                    <span>
                        <strong>IMBots</strong>.com
                    </span>
                </a>
            </div>
            <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>
            <div class="nav-right nav-menu">
                <span class="nav-item">
                    <a class="button" href="/login">
                        Login
                    </a>
                </span>
            </div>
        </nav>
    </div>
</section>
<section style="margin-bottom: 40px; background-color: #7289DA;">
    <div class="container">
        <nav class="nav" style="background-color: #7289DA;">
            <div class="nav-left">
                <a class="nav-item" style="color: white;" href="#">
                    Categories
                </a>
            </div>
            <span class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>
            <div class="nav-right nav-menu">
                <a class="nav-item" style="color: white;" href="#">
                    Top rated
                </a>
                <a class="nav-item" style="color: white;" href="#">
                    Recently added
                </a>
                <a class="nav-item" style="color: white;" href="#">
                    Featured
                </a>
            </div>
        </nav>
    </div>
</section>